
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f8f8f8;
}


header {
    text-align: center;
    background: #222;
    color: white;
    padding: 25px 0;
}

.tagline {
    font-size: 18px;
    margin-top: -10px;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 30px;
    background: #444;
    padding: 15px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.menu-section {
    padding: 40px;
}

.menu-section h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.menu-category {
    background: white;
    padding: 20px;
    border-left: 5px solid #c49b3a;
    margin-bottom: 30px;
}

.menu-category h3 {
    margin-bottom: 15px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.menu-item h4 {
    margin: 0;
    font-size: 18px;
}

.menu-item p {
    margin: 3px 0;
    font-size: 14px;
    color: #555;
}

.price {
    font-weight: bold;
    color: #c49b3a;
}


.contact-section {
    background: #f2f2f2;
    padding: 40px;
}

.contact-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background: #222;
    color: white;
    padding: 15px 0;
    margin-top: 20px;
}
